<div>
  <form action="" [formGroup]="formGroup">
    <div>
      <app-form-input
        [inputType]="'Text'"
        [fieldName]="'New Password'"
        [formControlName]="'newPassword'"
        [inputClass]="'input-text-width-20vw'"
        [isGeneratePassword]="true"
      ></app-form-input>
    </div>
    <app-button-group
      class="button-container"
      [buttonGroup]="buttonGroup"
      [selectedItem]="[]"
      [buttonJustifyContent]="'end'"
      (clickButtonEmitter)="onClickButton($event)"
    />
  </form>
</div>
