<div class="form-field" [ngSwitch]="inputType">
  <label class="field-label">{{ fieldName }}</label>
  <!-- Text Input -->
  <div *ngSwitchCase="'Text'">
    <input
      pInputText
      type="text"
      [ngModel]="value"
      (input)="onInput($event)"
      [class]="inputClass"
      [ngClass]="{
        ' ng-invalid ng-dirty':
          getControl?.invalid && (getControl?.touched || getControl?.dirty)
      }"
      [appInputRequire]="ngControl.control!"
    />
  </div>

  <!-- Number Input -->
  <div *ngSwitchCase="'Number'">
    <p-inputNumber
      [ngModel]="value"
      (onInput)="updateValue($event)"
      [class]="inputClass"
      [ngClass]="{
        'ng-invalid ng-dirty':
          getControl?.invalid && (getControl?.touched || getControl?.dirty)
      }"
    ></p-inputNumber>
  </div>

  <!-- Date Input -->
  <div *ngSwitchCase="'Date'">
    <p-calendar
      [ngModel]="value"
      dateFormat="yy-mm-dd"
      [appendTo]="'body'"
      [showIcon]="true"
      (input)="onInput($event)"
      [appInputRequire]="ngControl.control!"
      [class]="inputClass"
      [ngClass]="{
        ' ng-invalid ng-dirty':
          getControl?.invalid && (getControl?.touched || getControl?.dirty)
      }"
    ></p-calendar>
  </div>

  <!-- Dropdown Input -->
  <div *ngSwitchCase="'Dropdown'">
    <p-dropdown
      [options]="dropdownOption"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [class]="inputClass"
      [ngClass]="{
        ' ng-invalid ng-dirty':
          getControl?.invalid && (getControl?.touched || getControl?.dirty)
      }"
      placeholder="Select"
      [(ngModel)]="value"
      (onChange)="onSelect($event)"
      [appInputRequire]="ngControl.control!"
    />
  </div>

  <div *ngSwitchCase="'Switch'">
    <p-inputSwitch
      [ngModel]="value"
      (onChange)="onSwitch($event)"
      [ngClass]="{
        ' ng-invalid ng-dirty':
          getControl?.invalid && (getControl?.touched || getControl?.dirty)
      }"
      [appInputRequire]="ngControl.control!"
    ></p-inputSwitch>
  </div>

  <!-- Default -->
  <div *ngSwitchDefault>Unsupported input type</div>
</div>
