<div class="form-field" [ngSwitch]="inputType">
  <label class="field-label">{{ fieldName }}</label>
  <!-- Text Input -->
  <div *ngSwitchCase="'Text'">
    <div class="input-button-wrapper">
      <input
        pInputText
        type="text"
        [ngModel]="value"
        (input)="onInput($event)"
        [class]="inputClass"
        [ngClass]="{
          ' ng-invalid ng-dirty':
            getControl?.invalid && (getControl?.touched || getControl?.dirty)
        }"
        [disabled]="disabled"
        [style.width]="isGeneratePassword ? 'calc(20vw - 4vw)' : '20vw'"
        [appInputRequire]="ngControl.control!"
        [fieldName]="fieldName"
      />

      <app-button
        *ngIf="isGeneratePassword"
        [buttonName]="BUTTONNAME.GENERATE"
        [disabledButton]="false"
        (clickButtonEmitter)="generatePassword()"
      />
    </div>
  </div>

  <!-- Number Input -->
  <div *ngSwitchCase="'Number'">
    <p-inputNumber
      [ngModel]="value"
      (onInput)="updateValue($event)"
      [class]="inputClass"
      [ngClass]="{
        'ng-invalid ng-dirty':
          getControl?.invalid && (getControl?.touched || getControl?.dirty)
      }"
      [disabled]="disabled"
      [appInputRequire]="ngControl.control!"
      [fieldName]="fieldName"
    ></p-inputNumber>
  </div>

  <!-- Date Input -->
  <div *ngSwitchCase="'Date'">
    <p-calendar
      [ngModel]="value"
      dateFormat="yy-mm-dd"
      [appendTo]="'body'"
      [showIcon]="true"
      (input)="onInput($event)"
      [appInputRequire]="ngControl.control!"
      [fieldName]="fieldName"
      [class]="inputClass"
      [showTime]="isShowTimeDatePicker"
      [hourFormat]="'24'"
      [ngClass]="{
        ' ng-invalid ng-dirty':
          getControl?.invalid && (getControl?.touched || getControl?.dirty)
      }"
      [disabled]="disabled"
    ></p-calendar>
  </div>

  <!-- Dropdown Input -->
  <div *ngSwitchCase="'Dropdown'">
    <p-dropdown
      [options]="dropdownOption"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [class]="inputClass"
      [ngClass]="{
        ' ng-invalid ng-dirty':
          getControl?.invalid && (getControl?.touched || getControl?.dirty)
      }"
      placeholder="Select"
      [(ngModel)]="value"
      (onChange)="onSelect($event)"
      [disabled]="disabled"
      [appInputRequire]="ngControl.control!"
      [fieldName]="fieldName"
    />
  </div>

  <div *ngSwitchCase="'Switch'">
    <p-inputSwitch
      [ngModel]="value"
      (onChange)="onSwitch($event)"
      [ngClass]="{
        ' ng-invalid ng-dirty':
          getControl?.invalid && (getControl?.touched || getControl?.dirty)
      }"
      [disabled]="disabled"
      [appInputRequire]="ngControl.control!"
      [fieldName]="fieldName"
    ></p-inputSwitch>
  </div>

  <!-- Default -->
  <div *ngSwitchDefault>Unsupported input type</div>
</div>
