<div class="main-container">
  <p-card>
    <div class="two-column-layout">
      <div class="left-side-register-component">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="title-left-side-register">
            <p>Soong System</p>
          </div>
          <div style="padding: 0.5rem 0rem">
            <p class="input-title">Username</p>
            <input
              type="text"
              pInputText
              formControlName="username"
              [ngClass]="{
                ' ng-invalid ng-dirty':
                  getControl('username')?.invalid &&
                  (getControl('username')?.touched ||
                    getControl('username')?.dirty)
              }"
            />
          </div>
          <div style="padding: 0.5rem 0rem">
            <p class="input-title">Password</p>
            <p-password
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
              [ngClass]="{
                ' ng-invalid ng-dirty':
                  getControl('password')?.invalid &&
                  (getControl('password')?.touched ||
                    getControl('password')?.dirty)
              }"
            />
            <div style="padding: 0.5rem 0rem">
              <a href="">Forget Password?</a>
            </div>
          </div>
          <div class="login-btn-container">
            <p-button type="submit" label="Sign in" [raised]="true" />
          </div>
        </form>
      </div>
      <div class="right-side-register-component"></div>
    </div>
  </p-card>
</div>
