<div class="button-container">
  <app-button
    *ngIf="actionType === ACTION_TYPE.EDIT"
    [buttonName]="BUTTONNAME.RESET_PASSWORD"
    [disabledButton]="false"
    (clickButtonEmitter)="onClickButton($event)"
  />
  <app-button-group
    [buttonGroup]="buttonGroup"
    [selectedItem]="[]"
    [buttonJustifyContent]="'end'"
    (clickButtonEmitter)="onClickButton($event)"
  />
</div>

<div class="form-content">
  <form action="" [formGroup]="formGroup">
    <div class="field-layout">
      <app-form-input
        [inputType]="'Text'"
        [fieldName]="'Username'"
        [formControlName]="'userName'"
        [inputClass]="'input-text-width-20vw'"
      ></app-form-input>

      <app-form-input
        *ngIf="actionType === ACTION_TYPE.ADD"
        [inputType]="'Text'"
        [fieldName]="'Password'"
        [formControlName]="'password'"
        [inputClass]="'input-text-width-20vw'"
        [isGeneratePassword]="true"
      ></app-form-input>
    </div>
    <div class="field-layout">
      <app-form-input
        [inputType]="'Text'"
        [fieldName]="'Firstname'"
        [formControlName]="'firstName'"
        [inputClass]="'input-text-width-20vw'"
      ></app-form-input>

      <app-form-input
        [inputType]="'Text'"
        [fieldName]="'Lastname'"
        [formControlName]="'lastName'"
        [inputClass]="'input-text-width-20vw'"
      ></app-form-input>
    </div>
    <div class="field-layout">
      <app-form-input
        [inputType]="'Date'"
        [fieldName]="'Birth Day'"
        [formControlName]="'birthDay'"
        [inputClass]="'input-width-20vw'"
      ></app-form-input>
      <app-form-input
        [inputType]="'Dropdown'"
        [fieldName]="'Gender'"
        [formControlName]="'gender'"
        [inputClass]="'input-width-20vw'"
        [dropdownOption]="gendetDropdownOption"
      ></app-form-input>
    </div>

    <div class="field-layout">
      <app-form-input
        [inputType]="'Text'"
        [fieldName]="'Phone Number'"
        [formControlName]="'phoneNumber'"
        [inputClass]="'input-width-20vw'"
      ></app-form-input>

      <app-form-input
        [inputType]="'Date'"
        [fieldName]="'Register Date'"
        [formControlName]="'registerDate'"
        [inputClass]="'input-width-20vw'"
        [isShowTimeDatePicker]="true"
      ></app-form-input>
    </div>

    <div class="field-layout">
      <app-form-input
        [inputType]="'Dropdown'"
        [fieldName]="'User Role'"
        [formControlName]="'roleID'"
        [inputClass]="'input-width-20vw'"
        [optionValue]="'roleID'"
        [optionLabel]="'roleName'"
        [dropdownOption]="roleDropdownOption"
      ></app-form-input>
      <app-form-input
        [inputType]="'Dropdown'"
        [fieldName]="'Status'"
        [formControlName]="'statusID'"
        [inputClass]="'input-width-20vw'"
        [optionValue]="'statusID'"
        [optionLabel]="'statusName'"
        [dropdownOption]="statusDropdownOption"
      ></app-form-input>
    </div>
  </form>
</div>
