.button-container {
  display: flex;
  gap: 0.5rem;

  @each $pos, $justify in (start: flex-start, center: center, end: flex-end) {
    &.button-justify-#{$pos} {
      justify-content: #{$justify};
    }
  }
}
