::ng-deep .custom-dialog .p-dialog-content {
  padding: 0 2rem 2rem 2rem;
  overflow-y: auto;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* optional: vertically align if heights differ */
}
